{% extends "base.html" %} 

{% block content %}
<div class="sidebar">
    <div class="sidebar-list">
        <ul class="list-group">
            {% comment %} <li class="list-group-item">
                <a href="{% url "admin_home" %}" class="text-decoration-none">
                    <i class="bi bi-house-door mr-1"></i>
                    <span class="sidebar-list-item ">Dashboard</span>
                </a>
            </li> {% endcomment %}
            <li class="list-group-item">
                <a href="{% url "admin_user" %}" class="text-decoration-none">
                    <i class="bi bi-person mr-1"></i>
                    <span class="sidebar-list-item ">Users</span>
                </a>
            </li>
            <li class="list-group-item active">
                <a href="{% url "admin_staff" %}" class="text-decoration-none">
                    <i class="bi bi-people mr-1"></i>
                    <span class="sidebar-list-item ">Staff</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="{% url "view_bug" %}" class="text-decoration-none">
                    <i class="bi bi-bug mr-1"></i>
                    <span class="sidebar-list-item ">Bugs</span>
                </a>
            </li>
            {% comment %} <li class="list-group-item">
                <a href="admin_project.html" class="text-decoration-none">
                    <i class="bi bi-journal-text mr-1"></i>
                    <span class="sidebar-list-item ">Project</span>
                </a>
            </li> {% endcomment %}
            {% comment %} <li class="list-group-item">
                <a href="admin_message.html" class="text-decoration-none">
                    <i class="mdi mdi-message-reply-text mr-1"></i>
                    <span class="sidebar-list-item ">Message</span>
                </a>
            </li> {% endcomment %}
        </ul>
    </div>
    <div class="collapse-container">
        <button id="collapse-button" onclick="collapse();">
            <!-- collapse button with left arrow -->
            <i class="bi bi-chevron-double-left collapse-button-left"></i>
            <i class="bi bi-chevron-double-right collapse-button-right d-none"></i>
        </button>
    </div>
</div>

<div class="content">
    <h2 class="content-heading mb-3">Staff Details</h2>
    <div class="d-flex justify-content-between">
        <div class="user-buttons">
            <button class="btn btn-success"> <span class="mdi mdi-plus-circle-outline icon-md"></span> 
                <a href="{% url "add_staff" %}" class="text-decoration-none text-white"> Add Staff </a>
            </button>
            <button class="btn btn-danger" onclick="deleteStaff();"> <span class="mdi mdi-delete icon-md"></span> Delete Staff</button>
        </div>
       
    </div>
    <div class="user-table mt-5">
        <form class="cmxform" method="post" action="{% url "delete_staff" %}" style="width: 100%;" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="deleteStaffCheck deleteStaffCheckNone"> </th>
                    <th scope="col">User ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Position</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                    {% for i in employees %}
                    <tr>
                        <td class="deleteStaffCheck deleteStaffCheckNone"> <input type="checkbox" name="staff_to_delete" value="{{i.id}}"> </td>
                        <td scope="row"> {{i.id}} </td>
                        <td><span class="cell-content"> {{i.admin.first_name}}  </span></td>
                        <td><span class="cell-content"> {{i.admin.last_name}}  </span></td>
                        <td><span class="cell-content"> {{i.admin.email}} </span> </td>
                        <td><span class="cell-content"> {{i.position}} </span> </td>
                        <td>
                            <button class="btn btn-primary mr-2" type="button" style="padding: 10px;" data-bs-toggle="modal" data-bs-target="#staffModal{{i.id}}"><span class="mdi mdi-eye mb-2"></span> View</button>
                            <div class="modal fade" id="staffModal{{i.id}}" tabindex="-1" aria-labelledby="staffModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staffModalLabel">{{i.admin.first_name}} {{i.admin.last_name}}</h1>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle-fill"></i></button>
                                        </div>
                                        <div class="modal-body text-left">
                                            <div>
                                                <h4 class="pb-2">Name:</h4>
                                                <input type="text" class="form-control form-control-lg login-input" name="staff_id" value="{{i.admin.first_name}} {{i.admin.last_name}}" readonly>
                                            </div>
                                            <div class="mt-4">
                                                <h4 class="pb-2">Email</h4>
                                                <input type="text" class="form-control form-control-lg login-input" name="staff_id" value="{{i.admin.email}}" readonly>
                                            </div>
                                            <div class="mt-4">
                                                <h4 class="pb-2">Position</h4>
                                                <input type="text" class="form-control form-control-lg login-input" name="staff_id" value="{{i.position}}" readonly>
                                            </div>
                                            <div class="mt-4">
                                                <h4 class="pb-2">Impact on user</h4>
                                                <input type="text" class="form-control form-control-lg login-input" name="staff_id" value="{{i.gender}}" readonly>
                                            </div>
                                            <div class="mt-4">
                                                <h4 class="pb-2">Joined From</h4>
                                                <input type="text" class="form-control form-control-lg login-input" name="staff_id" value="{{i.created_at}}" readonly>
                                            </div>
                                            
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="deleteStaffCheck deleteStaffCheckNone">
                        <td class="border border-0"><button type="submit" class="btn btn-danger" style="padding: 10px;">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</div>


{% endblock %}