{% extends "base.html" %} 

{% block content %}
<div class="sidebar">
    <div class="sidebar-list">
        <ul class="list-group">
            {% comment %} <li class="list-group-item active">
                <a href=" {% url "user_home" %}" class="text-decoration-none">
                    <i class="bi bi-house-door mr-1"></i>
                    <span class="sidebar-list-item ">Dashboard</span>
                </a>
            </li> {% endcomment %}
            <li class="list-group-item">
                <a href=" {% url "userbugreports" %} " class="text-decoration-none">
                    <i class="bi bi-bug mr-1"></i>
                    <span class="sidebar-list-item ">Report Bug</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="{% url "bug_update" %}" class="text-decoration-none">
                    <i class="bi bi-bug mr-1"></i>
                    <span class="sidebar-list-item ">Bugs Status</span>
                </a>
            </li>
            {% comment %} <li class="list-group-item">
                <a href="user_message.html" class="text-decoration-none">
                    <i class="bi bi-bug mr-1"></i>
                    <span class="sidebar-list-item ">Message</span>
                </a>
            </li> {% endcomment %}
        </ul>
    </div>
    <div class="collapse-container">
        <button id="collapse-button" onclick="collapse();">
            <!-- collapse button with left arrow -->
            <i class="bi bi-chevron-double-left collapse-button-left"></i>
            <i class="bi bi-chevron-double-right collapse-button-right d-none"></i>
        </button>
    </div>
</div>



{% endblock %}